#section1{
    background-color: #656565;
    margin-top:50px;
    height:1000px;
    
}
#section2{
    background-color: black;
    height:1000px;
}
#section3{
    background-color:#8F0101;
    height:1000px;
}